<button {{action "onSelect" model.title}}> {{"Click me"}} </button>

<div>
{{#if isExpanded}}
  <button {{action 'contract'}}>Contract</button>
{{else}}
  <button {{action 'expand'}}>Show More...</button>
{{/if}}

</div>

<div> This is a {{model.title}} </div>

{{outlet}}
